<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ljb.android.comm">

    <application
        android:name="com.ljb.android.comm.App"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.WanAndroidComponent">

        <activity android:name=".view.act.CommWebViewActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:windowSoftInputMode="stateHidden|adjustResize"/>

    </application>
</manifest>