<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ljb.android.component">


    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:name="com.ljb.android.comm.App"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon_app"
        android:supportsRtl="true"
        android:theme="@style/Theme.WanAndroidComponent">

        <activity
            android:name=".view.act.AppWelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.act.AppHomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

    </application>

</manifest>